.toggle {
	line-height: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid #000;
	font-size: 10px;
	font-weight: normal;
	cursor: pointer;
}

.toggle:after {
	content: "show";
}

#inprescont {
	width: 100%;
	display: block;
	overflow: hidden;
}

#inprescont > div {
	display: block;
	float: left;
	width: 50%;
}

#eval_btn {
	display: block;
	margin: 0 auto;
	min-height: 50px;
}

#mathinput {
	display: block;
	width: 90%;
	heigth: 200px;
	min-height: 200px;
	margin: 5px auto;
}

#result {
	display: block;
	overflow: hidden;
	border: 1px solid #000;
	
}

#messages > div {
	overflow: hidden;
	background: #faa;
	color: #600;
	border: 1px solid #600;
}

#messages .body {
	margin: 10px;
}

#messages .close-btn {
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	width: 20px;
	height: 20px;
	background: #d66;
	color: #fff;
	border-radius: 10px;
	border: 0px none;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica;
	box-shadow: 1px 1px 1px #000;
	cursor: pointer;
}

#messages .close-btn:after{
	/* content: "&times;"; */
	content: "×";
}

label {
	display: block;
}

/* Rules for small screens */
@media screen and (max-device-width: 20cm) {

	#mathinput {
		margin: 5px 0;
		width: calc(100% - 22px);
		resize: none;
	}

	#graph {
		width: 100%;
	}
}
